<% content_for :title, "Sign up" %>
<h1>Create your account</h1>

<%= form_with url: registration_path, method: :post, class: "auth-form" do |f| %>
  <% if @user.errors.any? %>
    <ul class="errors">
      <% @user.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %>
    </ul>
  <% end %>

  <%= f.fields_for :user, @user do |u| %>
    <label>Email
      <%= u.email_field :email_address, required: true, autofocus: true, autocomplete: "username" %>
    </label>
    <label>Password
      <%= u.password_field :password, required: true, autocomplete: "new-password" %>
    </label>
    <label>Confirm password
      <%= u.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
    </label>
  <% end %>

  <%= f.submit "Sign up" %>
<% end %>

<p class="muted">Already have an account? <%= link_to "Sign in", new_session_path %>.</p>
